@page "/Install"
@layout MainLayout
@using ExiledWebServices.Components.Layout

<body>

<main>

    <article>

        <section class="section">
            <div style="height: 15vh">
                <div class="gradient hero-bg bg-3"></div>
            </div>

            <div class="container" style="margin-bottom: 5vh">
                <h2>
                    Installation
                </h2>

                <p>
                    Installation of EXILED is quite simple. It loads itself through Northwood’s Plugin API. That's why there are two folders inside the Exiled.tar.gz in release files.
                    SCP Secret Laboratory contains the necessary files to load EXILED features in EXILED folder.
                    All you need to do is move these two folders into the appropriate path, which are explained below, and you are done!
                    If you choose to use the installer it will, if run correctly, take care of installing all EXILED features.
                </p>

            </div>
            <div class="container" style="margin-bottom: 5vh">
                <div class="gradient hero-bg bg-2"></div>

                <h2>
                    Windows
                </h2>

                <h3 style="margin-top: 2vh">
                    <a class="link-inline" href="https://github.com/Exiled-Team/EXILED/blob/master/Exiled.Installer/README.md">Automatic Installation</a>
                </h3>

                <p>
                    <strong>Note:</strong> Ensure you are logged in as the user who runs the server or have Admin privileges before running the Installer.
                </p>

                <ul class="md-ul">
                    <li class="md-li">
                        Download the <code class="hljs inline">Exiled.Installer-Win.exe</code> <a class="link-inline" href="https://github.com/Exiled-Team/EXILED/releases">here</a> (click on Assets -> click the Installer)
                    </li>
                    <li class="md-li">
                        Place it in your server folder (download the dedicated server if you haven't already)
                    </li>
                    <li class="md-li">
                        Double-click <code class="hljs inline">Exiled.Installer.exe</code> or <a class="link-inline" href="https://www.dropbox.com/s/xny4xus73ze6mq9/install-prerelease.bat?dl=1">download this .bat file</a> and place it in the server folder to install the latest pre-release
                    </li>
                    <li class="md-li">
                        To obtain and install plugins, refer to the Installing Plugins section below.
                    </li>
                </ul>

                <br/>
                <p>
                    <strong>Note:</strong> If you are installing EXILED on a remote server, ensure you run the .exe as the same user who runs your SCP:SL servers (or one with Admin privileges)
                </p>

                <h3 style="margin-top: 2vh">
                    Manual Installation
                </h3>

                <ul class="md-ul">
                    <li class="md-li">
                        Download the <code class="hljs inline">Exiled.tar.gz</code> <a class="link-inline" href="https://github.com/Exiled-Team/EXILED/releases">here</a> and extract its contents
                    </li>
                    <li class="md-li">
                        Move the <code class="hljs inline">EXILED</code> folder to <code class="hljs inline">%appdata%</code>
                        <br/>
                        Note: This folder must be placed in <code class="hljs inline">C:\Users\%UserName%\AppData\Roaming</code>, and NOT <code class="hljs inline">C:\Users\%UserName%\AppData\Roaming\SCP Secret Laboratory</code>. It MUST be in (...)\AppData\Roaming, not (...)\AppData!
                    </li>
                    <li class="md-li">
                        Move <code class="hljs inline">SCP Secret Laboratory</code> to <code class="hljs inline">%appdata%</code>
                    </li>
                </ul>
                <div class="gradient hero-bg bg-3"></div>

            </div>
            <div class="container" style="margin-bottom: 5vh">
                <h2>
                    Linux
                </h2>

                <h3 style="margin-top: 2vh">
                    <a class="link-inline" href="https://github.com/Exiled-Team/EXILED/blob/master/Exiled.Installer/README.md">Automatic Installation</a>
                </h3>

                <p>
                    <strong>Note:</strong> Ensure you are logged in as the user who runs the server or have root privileges before running the Installer.
                </p>
                <ul class="md-ul">
                    <li class="md-li">
                        Download the <code class="hljs inline">Exiled.Installer-Linux</code> <a class="link-inline" href="https://github.com/Exiled-Team/EXILED/releases">here</a> (click on Assets -> click the Installer)
                    </li>
                    <li class="md-li">
                        Install it by either typing <code class="hljs inline">./Exiled.Installer-Linux --path /path/to/server</code> or move it inside the server folder directly, move to it with the terminal and type: <code class="hljs inline">./Exiled.Installer-Linux</code>
                    </li>
                    <li class="md-li">
                        If you want the latest pre-release, simply add <code class="hljs inline">--pre-releases</code> Example: <code class="hljs inline">./Exiled.Installer-Linux /home/scp/server --pre-releases</code>
                    </li>
                    <li class="md-li">
                        To obtain and install plugins, refer to the Installing Plugins section below.
                    </li>
                </ul>

                <h3 style="margin-top: 2vh">
                    Manual Installation
                </h3>

                <ul class="md-ul">
                    <li class="md-li">
                        <strong>Ensure</strong> you are logged in as the user who runs the server
                    </li>
                    <li class="md-li">
                        Download the <code class="hljs inline">Exiled.tar.gz</code> <a class="link-inline" href="https://github.com/Exiled-Team/EXILED/releases">here</a>
                    </li>
                    <li class="md-li">
                        To extract it to your current folder, type <code class="hljs inline">tar -xzvf EXILED.tar.gz</code>
                    </li>
                    <li class="md-li">
                        Move the <code class="hljs inline">EXILED</code> folder to <code class="hljs inline">~/.config</code>. Note: This folder needs to go in <code class="hljs inline">~/.config</code>, and NOT <code class="hljs inline">~/.config/SCP Secret Laboratory</code> (SSH: <code class="hljs inline">mv EXILED ~/.config/</code>)
                    </li>
                    <li class="md-li">
                        Move the <code class="hljs inline">SCP Secret Laboratory</code> folder to <code class="hljs inline">~/.config</code>. Note: This folder needs to go in <code class="hljs inline">~/.config</code>, and NOT <code class="hljs inline">~/.config/SCP Secret Laboratory</code> (SSH: <code class="hljs inline">mv SCP Secret Laboratory ~/.config/</code>)
                    </li>
                </ul>
                <div class="gradient hero-bg bg-1"></div>

            </div>
            <div class="container" style="margin-bottom: 5vh">
                <h2>
                    Installing plugins
                </h2>

                <p>
                    That's it! EXILED should now be installed and active the next time you boot up your server.
                    <br/>
                    Please note that EXILED alone won't do much, so make sure to get plugins from <a class="link-inline" href="https://discord.gg/yhfGWVB8Ff">our Discord server</a>.
                    <br/>
                </p>

                <br/>
                <p>To install a plugin, simply:</p>

                <ul class="md-ul">
                    <li class="md-li">
                        Download a plugin from their releases page (it must be a .dll file!)
                    </li>
                    <li class="md-li">
                        Move it to: <code class="hljs inline">~/.config/EXILED/Plugins</code> (if you use SSH as root, search for the correct <code class="hljs inline">.config</code> directory inside <code class="hljs inline">/home/(SCP Server User)</code>)
                    </li>
                </ul>
            </div>
            <div class="container" style="margin-bottom: 5vh">
                <div class="gradient hero-bg bg-2"></div>

                <h2>
                    Configuration
                </h2>

                <p>
                    EXILED by itself offers some config options.
                    All of them are auto-generated at the server startup, they are located at <code class="hljs inline">~/.config/EXILED/Configs/(ServerPortHere)-config.yml</code> file
                    (<code class="hljs inline">%AppData%\EXILED\Configs\(ServerPortHere)-config.yml</code> on Windows).
                </p>

                <br/>

                <p>
                    Plugin configs will NOT be in the aforementioned config_gameplay.txt file, instead, plugin configs are set in the <code class="hljs inline">~/.config/EXILED/Configs/(ServerPortHere)-config.yml</code> file
                    <code class="hljs inline">(%AppData%\EXILED\(ServerPortHere)-config.yml</code> on Windows).
                    However, some plugins might get their config settings from other locations on their own, this is simply the default EXILED location for them, so refer to the individual plugin if there are issues.
                </p>

            </div>

        </section>

    </article>

</main>

</body>
