@page "/"
@layout DefaultLayout
@using ExiledWebServices.Deployment.Services
@using ExiledWebServices.Shared.Layouts
@using ExiledWebServices.Components.Cards
@using ExiledWebServices.Components.Collections
@inject IConfigLoaderService ConfigLoader

<AdditiveHead Title="Home" Description="Exiled Framework"></AdditiveHead>

@{
    ConfigLoader.LoadConfigs(nameof(Home));
}

<body>

<main>

    <article>

        <!--#HERO-->
        <section class="hero" id="home" aria-label="home">
            <div class="container">
                <div class="hero-content">

                    <p class="hero-subtitle"></p>

                    <h1 class="headline headline-1 section-title">
                        <span class="span">EXILED</span><br/>Framework
                    </h1>

                    <p class="hero-text">
                        EXILED is a plugin framework for SCP: Secret Laboratory servers.
                        It offers an event system for developers to hook into in order to manipulate or change game code or implement their own functions.
                    </p>

                </div>

                <div class="hero-banner">
                    <img src="./assets/images/logo-variants/logo.png" style="margin-left: 10%" width="80%" alt="Exiled Logo" class="bouncingShape shadowFilter">
                    <img src="./assets/images/patterns/pattern-1.svg" width="27" height="26" alt="shape" class="shape shape-1">
                    <img src="./assets/images/patterns/pattern-1.svg" width="27" height="26" alt="shape" class="shape shape-2">
                </div>

                <div class="gradient hero-bg hero-bg-3"></div>
                <div class="gradient hero-bg hero-bg-1"></div>
            </div>
        </section>

        <br/>

        <!--#TOP PICKS-->
        <ElementSlider Title="Recommended Plugins" Subtitle="Discover the top-rated plugins favored by the entire Exiled community." Elements="TopPicks"></ElementSlider>

        <br/>

        <section class="section">
            <div class="container" style="margin-bottom: 5vh">
                <div class="gradient hero-bg bg-3"></div>

                <h2 class="headline headline-2" style="text-align: center; margin-bottom: 80px">
                    Entirely Community-driven
                </h2>

                <div class="docs-flex">
                    <div class="card docs-card illustrator">

                        <div class="card-content" style="text-align: center">

                            <a class="card-title hover-2 icon-label" style="justify-content: center; margin-bottom: 8px">
                                <ion-icon name="git-branch" size="large"></ion-icon>
                            </a>

                            <h3 class="headline headline-3">Support</h3>

                            <p class="card-subtitle" style="font-size: 1.7rem">We consistently deliver updates and releases to address bugs and introduce new features or contributions swiftly.</p>

                        </div>

                    </div>
                    <div class="card docs-card illustrator">

                        <div class="card-content" style="text-align: center">

                            <a class="card-title hover-2 icon-label" style="justify-content: center; margin-bottom: 8px">
                                <ion-icon name="people" size="large"></ion-icon>
                            </a>


                            <h3 class="headline headline-3">Community</h3>

                            <p class="card-subtitle" style="font-size: 1.7rem">We encourage developers to contribute actively rather than solely relying on Exiled, thereby boosting project activity.</p>

                        </div>

                    </div>
                    <div class="card docs-card illustrator">

                        <div class="card-content" style="text-align: center">

                            <a class="card-title hover-2 icon-label" style="justify-content: center; margin-bottom: 8px">
                                <ion-icon name="toggle" size="large"></ion-icon>
                            </a>

                            <h3 class="headline headline-3">Features</h3>

                            <p class="card-subtitle" style="font-size: 1.7rem">We offer diverse features, providing users with flexibility. These features are optional, catering to various needs.</p>

                        </div>

                    </div>

                </div>

                <div style="height: 10vh"></div>
                
                <div class="gradient hero-bg bg-2"></div>

                <h2 class="headline headline-2">
                    Getting Started
                </h2>
                
                <p>
                    Welcome to the EXILED community! Whether you're a seasoned developer or just starting out, we're thrilled to have you join us on this exciting journey.
                    <br/><br/>
                    If you're eager to dive right in and begin exploring the framework and its vast array of plugins, the <a class="link-inline" href="/Install">Installation</a> page is your starting point.
                    There, you'll find a comprehensive guide that walks you through each step of the installation process, ensuring a smooth and hassle-free setup.
                    <br/><br/>
                    For those of you with a passion for development and a desire to contribute to the EXILED ecosystem, becoming a plugin developer opens up a world of possibilities.
                    With the EXILED <a class="link-inline" href="https://www.nuget.org/packages/EXILED/">NuGet</a> package readily available from your IDE and the <a class="link-inline" href="/Archive/Documentation">Documentation</a> archive, you can easily integrate your creations into the framework and share them with the community.
                    <br/><br/>
                    Whether you're here to build, explore, or simply connect with fellow enthusiasts, we're here to support you every step of the way.
                    So, dive in, unleash your creativity, and let's build something incredible together!
                </p>
                
            </div>

        </section>

    </article>

</main>

</body>

@code {
    private NamedList<CoverCard>? _topPicks;

    NamedList<CoverCard> TopPicks => _topPicks ??= ConfigLoader.GetConfig<Configs.TopPicks>().Elements;
}