@namespace ExiledWebServices.Components.Pages.Elements

@using System.Collections.Generic

@* HeadContent.razor *@
@if (Title is not null)
{
    <title>@Title</title>
    <meta name="title" content="@Title">
}

@if (Description is not null)
{
    <meta name="description" content="@Description">
}

@if (ChildContent is not null)
{
    @ChildContent
}

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}