/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
    position: fixed;
    top: 0;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 66%;
    padding-block: 20px;
    z-index: 4;
}

.header.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(0%);
    margin: 20px auto auto;
    width: 66%;
    z-index: 4;
    animation: slideIn 0.5s ease;
    padding-block: 20px;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}


.header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.nav-close-btn {
    color: var(--text-wild-blue-yonder);
    font-size: 3.5rem;
}

.nav-open-btn {
    color: var(--text-wild-blue-yonder);
    font-size: 3.5rem;
    padding-left: 0;
    padding-top: 10px;
}

.nav-open-btn.active {
    padding-left: 37%;
}

.navbar {
    overflow: hidden;
    width: 100%;
    line-height: 33px;
    height: 0;
    z-index: 2;
    transition: height 0.5s ease-out;
}

.navbar.active {
    height: 28vh;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-end: 15px;
    margin-block-end: 15px;
    border-block-end: 1px solid var(--border-prussian-blue);
}

.navbar-list {
    border-block-end: 1px solid var(--border-white-alpha-15);
}

.navbar-link {
    color: var(--text-alice-blue);
    font-weight: var(--weight-medium);
    padding-block: 8px;
}

.navbar-bottom {
    padding-block: 30px 20px;
    margin-block: 20px 25px;
    border-block: 1px solid var(--border-prussian-blue);
}

.navbar .profile-card {
    margin-block-end: 15px;
}

.navbar .profile-card .card-title {
    color: var(--text-columbia-blue);
    font-size: var(--fontSize-6);
    font-weight: var(--weight-semiBold);
}

.navbar .profile-card .card-subtitle {
    font-size: var(--fontSize-7);
}

.navbar .link-list {
    columns: 2;
    -webkit-columns: 2;
}

.navbar-bottom-link {
    color: var(--text-alice-blue);
    font-size: var(--fontSize-6);
    padding-block: 6px;
}

.copyright-text {
    color: var(--text-alice-blue);
    font-size: var(--fontSize-8);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */
@media (min-width: 575px) {

    .header .container {}

    .header .btn {
        display: block;
        margin-inline-start: auto;
    }
}

/**
 * responsive for small than 993px screen
 */
@media (max-width: 992px) {

    .header .container {
        display: grid;
    }

    .header {
        position: fixed;
        top: 0;
        margin-top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 66%;
        padding-block: 20px;
        transition: width 0.8s ease, max-height 0.8s ease, margin-top 0.8s ease;
        z-index: 4;
    }

    .header.active {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transform: translateX(0%);
        margin: 20px auto auto;
        z-index: 4;
        transition: width 0.8s ease, max-height 0.8s ease, margin-top 0.8s ease;
        padding-block: 20px;
    }

    .header.open {
        top: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin: 0 auto auto;
        width: 100%;
        transition: all 0.6s ease, width 0.6s ease;
    }

    .header-menu-link {
        display: none;
    }

    .dropdown-menu {
        display: none;
        z-index: 2;
    }

    .dropdown-menu li {
        padding: 10px;
    }

    .dropdown-menu.active {
        display: block;
    }

    .navbar-list {
        border-block-end: none;
    }
}

/**
 * responsive for large than 992px screen
 */
@media (min-width: 992px) {

    .header-menu-link {
        display: block;
    }

    .dropdown-menu {
        display: none;
    }

    .header .container {
        display: flex;
        padding: 10px;
        gap: 10px;
        height: auto;
    }

    .nav-open-btn,
    .navbar-top,
    .navbar-bottom,
    .copyright-text {
        display: none;
    }

    .navbar,
    .navbar.active {
        all: unset;
        display: block;
    }

    .navbar-list {
        border-block-end: none;
        display: flex;
        justify-content: center;
        margin-inline: auto;
    }

    .header .btn {
        margin-inline-start: 0;
    }

    .header .container {
        display: inline-block;
        text-align: center;
        padding: 0;
        gap: 10px;
    }

    .navbar-link {
        color: var(--text-wild-blue-yonder);
        font-weight: unset;
        padding: 1em;
    }
}

/**
 * responsive for large than 1200px screen
 */
@media (min-width: 1200px) {


    .header .container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
    }

    body.nav-active {
        overflow-y: auto;
    }
}